.card {
    border: 1.5px solid rgb(224, 220, 220);
    border-radius: 5px;
    height: 40vh;
    box-sizing: border-box;
    background-color: white;
    display: flex;
    width: 100%;
}
.card-img {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 60%;
    display: flex;
    border-bottom: 1.5px solid rgb(224, 220, 220);
    box-sizing: content-box;
    position: relative;
}
.product-card {
    display: inherit;
    flex-direction: column;
    text-decoration: none;
    color: black;
    width: 100%;
}
.card-img img {
    max-height: 60%;
    max-width: 100%;
    align-self: center;
    margin: 0 auto;
}

.card h3, .card h2, .card p {
    margin: 0;
    padding: 0;
}
.card h2 {
    font-size: 20px;
    line-height: 30px;
    padding-bottom: 10px;
}
.card h3 {
    font-size: 15px;
}

.card-text {
    display: flex;
    flex-direction: column;
    padding-left: 5px;
    height: 40%;
    color: #616161;
}

.rating {
    margin-top: auto;
    margin-bottom: 0;
    padding: 5px;
    text-align: right;
    margin-left: auto;
    background-color: #2981d9;
    border-top-left-radius: 20px;
    color: red;
    width: 100px;
    border-bottom-right-radius: 5px;
}
.rating p {
    padding-right: 2px;
    color: aliceblue;
}

share-buttons {
    --sb-color: black;
    width: 40%;
    padding: 0;
    margin: 0;
    position: absolute;
    top: -5px;
    left: -5px;
    display: flex;
    flex-direction: row;
    --sb-min-width: 10px;
}

.card-bot {
    display: flex;
    flex-direction: row;
    margin-top: auto;
    margin-bottom: 0;
    position: relative;
}

a {
    text-decoration: none;
    color: black;
}

.likes {
    position: absolute;
    top: 5px;
    left: 5px;
}

.product-like {
    color: rgb(227, 32, 32);
}
