* {
   margin: 0;
   padding: 0;
}

body {
   font-size: 12px;
   font-family: Helvetica, Arial, sans-serif;
   line-height: 1.34;
   color: #1c1e21;
   background: #fff;
}

#container {
   margin: 0 auto;
   position: relative;
   zoom: 1;
}

#content {
   margin: 0;
   outline: none;
   padding: 0;
   width: auto;

}

#section {
   padding-bottom: 112px;
   padding-top: 72px;
   /* padding-left: 229px; */
   background: #f0f2f5;
}

#in-section {
   padding: 20px 0;
   margin: 0 40px;
   width: 980px;
   margin: 0 auto;
}

#logo-quote {
   width: 400px px;
   box-sizing: border-box;
   margin-right: 0;
   padding-right: 32px;
   display: inline-block;
}

#logo {
   padding: 112px 0 16px;
   display: block;
}

#logo-img {
   height: 106px;
   margin: -28px;
}

#quote {
   font-size: 28px;
   line-height: 28px;
   width: auto;
   font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
   font-weight: normal;
   padding: 0 0 20px;
   color: #1c1e21;
   display: inline-block;
   margin: 0;
   line-height: 32px;
   width: 500px;
}

#form {
   display: inline-block;
   vertical-align: top;
}

#in-form {
   height: 456px;
   width: 396px;
}

#blank {
   padding-bottom: 24px;
   padding-top: 10px;
   text-align: center;
   background-color: #fff;
   border: none;
   border-radius: 8px;
   box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
   box-sizing: border-box;
   margin: 40px 0 0;
   padding: 20px 0 28px;
   width: 396px;
}

.fields {
   font-size: 17px;
   width: 364px;
   display: inline-block;
   margin: auto;
   padding: 6px 0;
}

.input {
   font-size: 17px;
   padding: 14px 16px;
   width: 330px;
   border: 1px solid #dddfe2;
   color: #1d2129;
   height: 22px;
   line-height: 16px;
   vertical-align: middle;
   border-radius: 6px;
}

.button-div {
   padding-top: 6px;
}

.button {
   position: relative;
   text-align: center;
   text-shadow: none;
   vertical-align: middle;
   background-color: #1877f2;
   border: none;
   border-radius: 6px;
   font-size: 20px;
   line-height: 48px;
   padding: 0 16px;
   width: 332px;
   cursor: pointer;
   display: inline-block;
   text-decoration: none;
   white-space: nowrap;
   box-sizing: content-box;
   font-weight: bold;
   color: #fff;
}

.forgot-password {
   margin-top: 16px;
   text-align: center;
}

.forgot-password-button {
   color: #1877f2;
   font-size: 14px;
   font-weight: 500;
   cursor: pointer;
   text-decoration: none;
   text-align: center;
}

.line {
   align-items: center;
   border-bottom: 1px solid #dadde1;
   display: flex;
   margin: 20px 16px;
   text-align: center;
}

.new-account {
   padding-top: 6px;
   font-weight: bold;
   box-sizing: content-box;
   position: relative;
   text-align: center;
   text-shadow: none;
   vertical-align: middle;
}

.new-account-button {
   border: none;
   border-radius: 6px;
   font-size: 17px;
   line-height: 48px;
   padding: 0 16px;
   cursor: pointer;
   display: inline-block;
   text-decoration: none;
   white-space: nowrap;
   color: #fff;
   background-color: #42b72a;
}


.add-info {
   border-top: none;
   color: #1c1e21;
   font-family: SFProText-Regular, Helvetica, Arial, sans-serif;
   font-size: 14px;
   font-weight: normal;
   padding-top: 0;
   margin-top: 28px;
   text-align: center;
}

.add-info-href {
   font-family: SFProText-Semibold, Helvetica, Arial, sans-serif;
   font-size: 14px;
   font-weight: 600;
   color: inherit;
   cursor: pointer;
   text-decoration: none;
   text-align: center;
}

.footer {
   padding-top: 20px;
}

.in-footer {
   color: #737373;
   margin: 0 auto;
   width: 980px;
}

.list {
   padding-top: 8px;
   align-items: center;
   display: flex;
   flex-wrap: wrap;
   list-style-type: none;
   margin: 0;
   padding: 0;
   color: #737373;
}

#lang {
   padding-left: 0;
   border-width: 0;
   display: inline-block;
}

.list-item {
   padding-right: 0;
   padding-left: 10px;
   vertical-align: top;
}

.links {
   cursor: pointer;
   color: #8a8d91;
   text-decoration: none;
   white-space: nowrap;
}

.plus {
   width: 12px;
   height: 12px;
   background-position: -144px -36px;
   bottom: 1px;
   position: relative;
   vertical-align: middle;
   background-size: 170px 62px;
   background-repeat: no-repeat;
   display: inline-block;
}

.line-footer {
   border-bottom: 1px solid #dddfe2;
   font-size: 1px;
   height: 8px;
   margin-bottom: 8px;
   color: #737373;
}

.footer-list {
   line-height: 1.6;
   margin-left: -20px;
}

li {
   padding-left: 20px;
   padding-right: 0;
   vertical-align: top;
   border-width: 0 0 0 1px;
   display: inline-block;
}

ul {
   list-style-type: none;
   margin: 0;
   padding: 0;
}

.meta-block {
   font-size: 11px;
   margin-top: 20px;
   margin-bottom: 20px;
}