
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  background-color: #05386B;
}
.header a {
  margin: 0 30px;
  text-decoration: none;
  color: #EDF5E1;
  font-size: 25px;
  font-weight: 500;
}
