.product {
    border: solid 1px;
    border-color: gray;
    border-radius: 15px;
    padding: 20px;
    width: 17%;
}

.products-list {
    border: none;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    justify-items: center;
}

img {
    width: 100px;
    height: auto;
}

button {
    margin-top: 15px;
    border-radius: 10px;
    width: 100%;
    text-align: center;
}

.products-title{
    text-align: center;
    font-size: 24px;
}